body {

  background-color: rgb(3, 3, 3);
  align-items: baseline;
  text-align: center;
  color: rgb(249, 249, 250);
  padding: 23;

}

.imgHeader {
  img {
    width: 100%;
  }

  .centerText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-size: 350%;
    color: rgba(241, 241, 240, 0.803);
  }

  a {
    text-decoration: none;
    color: rgb(250, 249, 248);
  }
}

h3 {
  text-align: center;
  color: rgb(202, 213, 241);
}
.container1 {

  border-top: 0px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-style: hidden;
  padding: 3px;
  border-radius: 7px;

  .wedcntr {
    border-radius: 7px;
    border-style: solid;
    text-align: justify;
    float: right;
    padding: 10px;
    font-family: Arial;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-color:rgb(245, 248, 245);

    .sub-wed-cntr {

      width: 50%;

      p {
        height: 80px;
      }
    }
  }

}

.img-cntr {
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;

  img:hover {
    opacity: 15%;
    max-height: 100%;
    max-width: 100%;
  }

  img {
    width: 100%;

  }
}
